{% extends 'base.html' %}
{% block title %}
Login Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <!--            <img class="mb-4" src="https://img2.freepng.ru/20180701/cfl/kisspng-postal-2-mame4droid-0-37b5-running-with-scissors-runestorm-5b3908516a1cd9.0379906315304643374347.jpg">-->
            <h1 class="h3 mb-3 font-weight-normal">
                Please Login
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}


            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}


            <br>

            <div class="checkbox mb-3">
                <h6>Do not have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</body>
{% endblock %}
